[submodule "productdetails"]
	path = productdetails
	url = https://github.com/Mmamare/productdetails.git
[submodule "userdetails"]
	path = userdetails
	url = https://github.com/Mmamare/userdetails.git
[submodule "service_registry"]
	path = service_registry
	url = https://github.com/Mmamare/service_registry.git
